<link rel="stylesheet" href="./app.component.css">
<main class="main">
  <div class="content" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    <div>
      <h1>Hello, {{ title }}</h1>
      <p>Angular Wita Roberta Juniora Programera BB2🎉</p>
      <p>Image path {{imagePath}}</p>
    </div>
    <div style="margin-top: 2rem;">
      <img src="assets/images/futuristic-apocalyptic-wolf.jpg" alt="RG" class="center-image" style="max-width: 400px; width: 100%;">
    </div>
  </div>
</main>

<router-outlet />
